/*-- CSS Reset --*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------------------------

Universal Styling

----------------------------------*/

@font-face {
    font-family: 'monita';
    src: url('../fonts/monita.otf') format('truetype');
}

h1 {
    font-family: 'monita', cursive;
    font-size: 3em;
    color: #FCDFEB;
    padding-left: 30px;
}

h1,
nav {
    display: inline-block;
}

h2 {
    font-family: 'monita', cursive;
    font-size: 2em;
    color: #49191D;
}

p {
    font-family: 'Manrope', sans-serif;
    line-height: 26px;
    color: #49191D;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

/*

header {
    background: #BD7D94;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

header nav {
    float: right;
    margin-right: 50px;
    margin-top: 13px;
}

header a {
    color: #fff;
    text-decoration: none;
}

header a:hover {
    color: #FCDFEB;
}

header li {
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Manrope', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-size: 18px;
    color: #fff;
}
*/

/*---------------------------------

Navigation Menu

----------------------------------*/

header {
  background-color: #BD7D94;
  position: sticky;
  top: 0;
  height: 60px;
  z-index: 99;
}

header a {
  color: #fff;
  text-decoration: none;
}

header a:hover {
  color: #FCDFEB;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.logo {
 font-family: 'monita', cursive;
 font-size: 1.5em;
 display: inline-block;
 padding-left: 20px;
 padding-top: 20px;
}

/* [ON SMALL SCREENS] */

/* (A) WRAPPER */
#hamnav {
  width: 100%;
  background: #BD7D94;
}
/* (A) BREAK INTO VERTICAL MENU */
#hamitems a {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-top: 1px solid #FAABC4;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

#hamitems a:hover { 
  background: #49191D; 
}

/* (B) SHOW HAMBURGER ICON */
#hamnav label {
  float: right;
  display: inline-block;
  color: white;
  background: #BD7D94;
  font-style: normal;
  font-size: 2em;
  padding: 10px;
  margin-right: 20px;
}

#hamnav label:hover {
  cursor: pointer;
  color: #FCDFEB;
}

/* (C) TOGGLE SHOW/HIDE MENU */
#hamitems { 
  display: none; 
}
#hamnav input:checked ~ #hamitems { 
  display: block; 
}
#hamburger { 
  display: none; 
}

/*---------------------------------

Footer Section

----------------------------------*/

footer {
  background-color: #BD7D94;
  color: #fff;
  padding: 20px;
}

.footer-container {
  max-width: 1920px;
  font-family: 'Manrope', sans-serif;
  margin: 0 auto;
}

.footer-container a {
  color: #fff;
  text-decoration: none;
}

.footer-container a:hover {
  color: #FCDFEB;
  text-decoration: none;
}

.social {
  font-size: 24px;
  float: left;
  padding: 20px;
  width: 50%;
  text-align: left;
  vertical-align: text-top;
}

.credit {
  font-size: 14px;
  float: right;
  padding: 20px;
  width: 50%;
  text-align: right;
  margin-top: 26px;
}

@media screen and (max-width: 650px) {
  .social,
  .credit {
    width: 100%;
    text-align: center;
    margin-top: 0;
  }
}

@media screen and (min-width: 651px) {
  .social br {
    display: none;  
  }
}


/*---------------------------------

Video

----------------------------------*/

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    max-height: 700px;
    width: 100vw;
    overflow: hidden;
    background: #49191D;
  }

  #video {
    margin-left: 0px;
    width: 100%;
    margin-bottom: -1em;
  }

  #play-pause {
    position: absolute;
    bottom: 5%;
    right: 70px;
    padding-top: 20px;
    border: none;
    border-radius: 40px;
    background-color: transparent;
    margin: auto;
    z-index: 1;
  }

  #play-pause-center {
    position: absolute;
    top: 40%;
    right: 45%;
    border: none;
    border-radius: 40px;
    background-color: transparent;
    margin: auto;
    z-index: 1;    
  }
  
  #play-pause:hover {
    cursor: pointer;
  }

  .video-message {
    color: #fff;
  }

/*---------------------------------

Intro Section

----------------------------------*/

#intro {
    background: #FCDFEB;
    padding: 40px 20px 20px 20px;
}

#intro p {
    color: #49191D;
    font-size: 18px;
    margin-top: 8px;
}

article figcaption {
    font-family: 'Manrope', sans-serif;
    font-size: 0.7em;
    text-align: center;
    color: #49191D;
    background-color: #FAABC4;
    padding: 4px 10px;
    margin-top: -5px;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.column {
    float: left;
    padding: 20px;
}
  
.left {
    width: 30%;
}

.left img {
  width: 100%;
}
  
.right {
    width: 60%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
  }
}

/*---------------------------------

Products Section

----------------------------------*/

#products {
    background: #FAD5E5;
    padding: 0 20px 50px 20px;
}

.drip {
    margin-top: -1px;
    width: 100%;
}

.frame {
  text-align: center;	
  position: relative;
  cursor: pointer;	
  perspective: 500px; 
}

.frame:hover img{
opacity: 0.15;
}

.frame .details {
  font-family: 'Manrope', sans-serif;
  color: #49191D;
  font-size: 18px;
  margin-top: 35%;
  width: 100%;
  height: 80%;	
  padding: 5% 8%;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(90deg);
  transform-origin: 50%;
  background: rgba(255, 255, 255, 0);	
  opacity: 0;
  transition: all 0.4s ease-in;
  
}
.frame:hover .details {
  transform: translate(-50%, -50%) rotateY(0deg);
  opacity: 1;
}


.flexbox {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-content: flex-start;
}

.content {
  align-self: stretch;
  width: 100%;
}

.content img {
  width: 100%;
}


/*---------------------------------

Gallery Section

----------------------------------*/

#gallery {
    background: #FAABC4;
    padding: 0 20px 50px 20px;
}

.container-gallery {
    padding: 90px 0;
    margin: 0 auto;
    max-width: 1200px;
}

.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
    background-color: #49191D;
}
  
.item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: flex 0.8s ease-in-out;
    opacity: 0.6;
}  

.item:hover {
    flex: 7;
    opacity: 1;
}
  
.item-1 { 
    background-image: url(../images/photo1.jpg);
}

.item-2 { 
    background-image: url(../images/photo2.jpg);
}

.item-3 { 
    background-image: url(../images/photo3.jpg);
}

.item-4 { 
    background-image: url(../images/photo4.jpg);
}

.item-5 { 
    background-image: url(../images/photo5.jpg);
}

/*---------------------------------

Contact Section

----------------------------------*/

#contact {
  background: #FAD5E5;
  padding: 20px;
  height: 100vh;
}

#contact p {
  font-size: 20px;
}

#contact p::after {
  content: "\f004";
  color: #49191D;
  font-family: "Font Awesome 5 Free";
  font-weight: 900; 
  padding-left: 5px;
  font-size: 18px;
}

.container-contact {
  padding: 150px 0 50px 0;
  margin: 0 auto;
  max-width: 700px;
}

.contact-form {
  background: #FAABC4;
  padding: 20px 20px 10px 20px;
  max-width: 700px;
  font-family: 'Manrope', sans-serif;
  margin: 30px auto;
}

.label_input_wrap {
 display: block;
 font-size: 18px;
 color: #49191D;
 padding-bottom: 5px; 
}

.submit input {
  background: #BD7D94;;
  color: white;
  padding: 5px 20px;
  font-size: 20px;
  font-family: 'Manrope', sans-serif;
  border: #BD7D94 3px solid;
  border-radius: 3px;
}

.submit input:hover {
  background: white;
  color: #BD7D94;
  cursor: pointer;
  font-weight: 600;
}

.input-section {
  margin-bottom: 20px;
}

input {
  padding: 5px;
  width: 50%;
}

input:nth-child(1) {
  width: 30%;
}

textarea {
  font-family: sans-serif;
  padding: 5px;
  width: 100%;
}

/*---------------------------------

Extra Section

----------------------------------*/

#extra {
  background-image: linear-gradient(#FAD5E5, #FAABC4);
  padding: 20px;
  height: 100vh;
}

#extra h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 38px;
} 

.container-extra {
  padding: 150px 0;
  margin: 0 auto;
  max-width: 1200px;
}

.container-extra img {
  width: 24%;
}

.lb-caption {
  font-family: 'Manrope', sans-serif !important;
  font-size: 20px !important;
}

.lb-number {
  font-family: 'Manrope', sans-serif !important;
}

/*---------------------------------

Media Queries

----------------------------------*/

@media (min-width: 320px) and (max-width: 480px) {
  .flexbox {
    flex-direction: column;
  }
  .desktop {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .desktop {
    display: none;
  }
}

@media screen and (min-width: 769px) {

  /* (B) HORIZONTAL MENU ITEMS */
  #hamitems { 
    display: flex;
    height: 60px;
    padding-right: 50px;
  }
  #hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding-top: 20px;
  }
  #hamitems a {
    border-top: none;
  }
  /* (C) HIDE HAMBURGER */
  #hamnav label, #hamburger { 
    display: none; 
  }
  .logo {
    float: left;
    margin-right: 20%;
    font-size: 2em;
    padding-top: 15px;
  }
  .mobile {
    display: none;
  }
}
