/*---------------------------------

Universal Styling

----------------------------------*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'monita';
    src: url('../fonts/monita.otf') format('truetype');
}

h1{
    font-family: 'monita', cursive;
    font-size: 40px;
    color: #FCDFEB;
    padding-left: 30px;
}

h1,
nav {
    display: inline-block;
}

h2 {
    font-family: 'monita', cursive;
    font-size: 2em;
    color: #49191D;
}

p {
    font-family: 'Manrope', sans-serif;
    line-height: 26px;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

header {
    background: #BD7D94;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

header nav {
    float: right;
    margin-right: 50px;
    margin-top: 13px;
}

header a {
    color: #fff;
    text-decoration: none;
}

header a:hover {
    color: #FCDFEB;
}

header li {
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Manrope', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-size: 18px;
    color: #fff;
}

/*---------------------------------

Video

----------------------------------*/

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    max-height: 700px;
    width: 100vw;
    overflow: hidden;
    background: #49191D;
  }

  #video {
    margin-left: 0px;
    width: 100%;
    margin-bottom: -1em;
  }

  #play-pause {
    position: absolute;
    bottom: 5%;
    right: 70px;
    padding-top: 20px;
    border: none;
    border-radius: 40px;
    background-color: transparent;
    margin: auto;
    z-index: 1;
  }

  #play-pause-center {
    position: absolute;
    top: 40%;
    right: 45%;
    border: none;
    border-radius: 40px;
    background-color: transparent;
    margin: auto;
    z-index: 1;    
  }
  
  #play-pause:hover {
    color: #FCDFEB;
  }

  .video-message {
    color: #fff;
  }

/*---------------------------------

Intro Section

----------------------------------*/

#intro {
    background: #FCDFEB;
    padding: 40px 20px 20px 20px;
}

#intro p {
    color: #49191D;
    font-size: 18px;
    margin-top: 8px;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.column {
    float: left;
    padding: 20px;
  }
  
  .left {
    width: 30%;
  }
  
  .right {
    width: 60%;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
    }
  }

/*---------------------------------

Products Section

----------------------------------*/

#products {
    background: #FAD5E5;
    padding: 0 20px 20px 20px;
}

.drip {
    margin-top: -1px;
}

.columns {
    float: left;
    padding: 20px;
    width: 33%;
    text-align: center;
  }

  @media screen and (max-width: 650px) {
    .columns {
      width: 100%;
    }
  }

/*---------------------------------

Gallery Section

----------------------------------*/

#gallery {
    background: #FAABC4;
    padding: 20px;
}

.container-gallery {
    padding: 75px 0;
    margin: 0 auto;
    max-width: 1200px;
  }

  .gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
    background-color: #49191D;
  }
  
  .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease-in-out;
    opacity: 0.6;
  }  
  .item:hover {
      flex: 7;
      opacity: 1;
   }
  
  .item-1 { 
    background-image: url(../images/photo1.jpg);
  }
  
  .item-2 { 
    background-image: url(../images/photo2.jpg);
  }
  
  .item-3 { 
    background-image: url(../images/photo3.jpg);
  }
  
  .item-4 { 
    background-image: url(../images/photo4.jpg);
  }
  
  .item-5 { 
    background-image: url(../images/photo5.jpg);
  }


/*---------------------------------

Footer Section

----------------------------------*/

footer {
    background-color: #BD7D94;
    color: #fff;
    padding: 20px;
}

.footer-container {
    max-width: 1920px;
    font-family: 'Manrope', sans-serif;
    margin: 0 auto;
}

.footer-container a {
    color: #fff;
    text-decoration: none;
}

.footer-container a:hover {
    color: #FCDFEB;
    text-decoration: none;
}

.social {
    font-size: 24px;
    float: left;
    padding: 20px;
    width: 50%;
    text-align: left;
    vertical-align: text-top;
}

.credit {
    font-size: 14px;
    float: right;
    padding: 20px;
    width: 50%;
    text-align: right;
    margin-top: 26px;
}

@media screen and (max-width: 650px) {
    .social,
    .credit {
      width: 100%;
      text-align: center;
      margin-top: 0;
    }
  }

@media screen and (min-width: 651px) {
    .social br {
      display: none;  
    }
  }
