/*---------------------------------

Universal Styling

----------------------------------*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

p {
    font-family: 'Manrope', sans-serif;
}

footer {
    background-color: #BD7D94;
}